<div class="container">
    <h2>Dear ${firstName} ${lastName},</h2>
    <p>Thank you for Order. Here are your tickets:</p>
    <p>
        <span>First Name: </span>${firstName}
    </p>
    <p>
        <span>Last Name: </span>${lastName}
    </p>
    <p>
        <span>Username: </span>${username}
    </p>
    <p>
        <span>Email: </span>${email}
    </p>
    <div>
        <h3>Your Tickets:</h3>
        <ul>
            ${items}
        </ul>
        <p>Total: ${total}$</p>
    </div>
    <p>If you have any questions or need further assistance, feel free to contact our support team.</p>
    <p>Best regards,</p>
    <p>The Service Team</p>
</div>